h1{
    
    text-align-last: center;
    color: greenyellow;
}

p {
    text-align-last: right;
    color: rgba(0, 162, 255, 0.493);
    background-color: black;
    font-size:x-large;
}

button{
    size: 12cm;
}